<h1>Games for {{ country }}</h1>
<ng-content></ng-content>
<mat-card *ngFor="let game of games">
  <mat-card-title>{{ game.home_team.country }} vs. {{ game.away_team.country }}</mat-card-title>
  <mat-card-content
    >in {{ game.venue }} at {{ game.datetime | date: 'dd.MM.yyyy HH:mm' }}
    <br />
    <span *ngIf="game.status !== 'future'" [class.active]="game.status === 'running'"
      >Result: {{ game.winner }}</span
    >
  </mat-card-content>
</mat-card>
<div>{{ games?.length }} games found</div>
